.offscreen {
  position: absolute;
  left: -10000px;
}

.skip-link {
  position: absolute;
  top: -990px;
  left: 0px;
  background: $text-shadow-color;
  padding: 14px;
  z-index: 1;
  color: $font-color;
}

.skip-link:focus,
.skip-link:active {
  top: auoto;
  left: auto;
}
